@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

.main-changePass {
  margin: 0;
}

.fill-changePass {
  /* background-color: greenyellow; */
  border-radius: 10px;
  box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
  margin: 7% 0;
  padding: 5% 0;
}

.title-changePass {
  font-family: "Nunito Sans";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.word-changePass {
  font-family: 'Nunito Sans';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.form-changePass{
    text-align: center;
}

