.ballanceInfo {
    height: max(150px, auto);
    width: max(100%, 80%);
    margin: auto auto 30px auto;
    font-weight: normal;
    font-size: 2vh;
    color: #E0E0E0;
    background: #6379F4;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    display: flex;
}

.ballanceInfo button {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.8vh;
    color: #FFFFFF;
    margin: 1vh auto;
    width: max(51%, 80%);
    height: 7vh;
    text-align: center;
}

.ballanceInfo span {
    margin: auto;
    float: left;
}

.ballanceInfo p {
    margin-bottom: 20px;
    margin-top: 20px;
}
