.titleLogin{
    margin: 0 5%;
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: 25%;
}

.loginFill{
    margin: 0 5%;
    font-size: 0.8rem;
    padding: 5% 0;
    font-size: 0.9rem;
    color: grey;
}

.email{
    margin: 5% 5%;
    width: 80%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.password{
    margin: 10% 5%;
    width: 80%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.forgot{
    text-align: end;
    margin-right: 10%;
}

.button-confirm{
    margin-top: 20%;
    background-color: grey;
    width: 80%;
    margin-left: 5%;
}

.account-login{
    margin: 10% 5%;
}

.aside-auth{
  background-image: url("../../../public/Mask-Group-auth.png");
  text-align: center;
}

.main-login{
    margin: 0;
}

.title-login{
    color: #FFFFFF;
    font-size: 1.8rem;
    padding: 5%;
    padding-left: 10%;
}

.phone2{
    position: relative;
    transform: rotate(10deg);
    top: 20px;
    left: 100px;
}

.phone{
    padding: 5%;
    padding-left: 10%;
    transform: rotate(-10deg);
}

.word-login{
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 5%;
    padding-left: 10%;
    font-weight: 500;
}

.fill-word{
    color: #FFFFFF;
    font-size: 1rem;
    padding: 2%;
    padding-left: 10%;
    font-weight: 300;
}